
#anh_bia{
  width: 100%;
  position: relative;
}

#bia{
  width:100%;
  height:250px;
}

#avatar{
  position: absolute;
  top: 60px;
  margin: 0 0 0 4%;
}

#ava{
  border-radius: 50%;
  width: 270px;
}

#info{
  margin: 10px 0 0 350px;
  font-size: 30px;
  font-family: Arial;
  color: #364F6B;
  position: absolute;
}

.logo{
  width: 40px;
  float: left;
  margin: 0 10px 0 160px;
}


ul {
  list-style-type: none;
  margin: 140px 0 0 348px;
  padding: 0;
}

.logo_text{
  position: absolute;
  font-size: 30px;  
  text-align: center;
  font-family: Arial;
  color: #364F6B;
}









.sticky {
	position: -webkit-sticky;
	position: sticky;
	position: fixed;
	top: 300px;
	right: 80px;
}

.list-inline {
	list-style: none;
	margin-left: -0.5em;
	margin-right: -0.5em;
	padding: 0;
	margin-top : 0px;
}

.list-inline > li {
	display: inline-block;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.list-inline > li:before {
	content: "\200B"; /* 1 */
	position: absolute; /* 2 */
}